.top {
  display: grid;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: auto;
}

#search {
  font-size: 1.3em;
  height: 45px;
}

.gallery {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: repeat(3, 225px);
  grid-gap: 15px; 
  margin: 0 auto;
}


