.top {
  display: grid;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

#search {
  font-size: 1.3em;
}

.gallery {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: repeat(3, 225px);
  grid-gap: 15px; 
  margin-left: 200px;
}

